<div
  style="
    border: 1px solid black;
    margin: 4px;
    padding: 1em;
    border-radius: 1em;
    position: relative;
  "
>
  <h1 style="margin: 0px; padding: 0px"><%- title %></h1>
  <h3
    style="
      margin: 0px;
      padding: 0px;
      font-weight: lighter;
      letter-spacing: 0.2em;
    "
  >
    <%- subTitle %>
  </h3>
  <p style="font-weight: 400; letter-spacing: 0.1em"><%- content %></p>

  <% if(imgSrc) { %> 
    <img src="<%- imgSrc %>" alt="Product Image" style="width: 100%" />
  <% } %>

  <div style="text-align: right">
    <%- include('partials/button', { href: href, label:'View'}) -%>
  </div>
</div>
