<div style="text-align: center; background-color: rgb(120, 138, 138)">
  <div
    class=""
    style="
      display: inline-block;
      max-width: 600px;
      width: fit-content;
      margin: auto;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: white;
      margin-top: 1em;
      margin-bottom: 1em;
      color: rgb(76, 76, 76);
      padding: 3em;
      border-width: 1em;
      border-style: solid;
      border-image: initial;
      border-color: orange teal royalblue green;
      border-radius: 3em 10em 7em 5em;
    "
  >
    <!-- Message/Description -->
    <%- include('partials/message', { title:data.title, message: data.message
    }); -%>

    <!-- Divider -->
    <%- include('partials/divider') -%>
    
    <!-- One-Time Access Code -->
    <%- include('partials/code', {securityCode: data.securityCode }) -%>
    
    <!-- Divider -->
    <%- include('partials/divider') -%>
    
    <!-- Reset Password Link -->
    <%- include('partials/button', {href: data.href, label:data.label}) -%>

    <!-- Footer -->
    <%- include('partials/footer') -%>
  </div>
</div>
